.overview-heading {
  font-size: 20px;
  margin: 2rem 0 2rem 0;
}

.overview-card {
  background-color: $grayblue-light;
  margin-bottom: 1rem;
}

.first-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0rem 0.9rem 0rem 0.9rem;
}

.second-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0rem 0.9rem 0rem 0.9rem;

  p {
    &.up {
      color: hsl(163, 72%, 41%);
    }

    &.down {
      color: hsl(356, 69%, 56%);
    }

    font-size: 10px;
    font-weight: 700;

  }

  img {
    margin-bottom: 2px;
  }
}